@page
@model ParkingRota.Pages.AddNewUserModel
@{
    ViewData["Title"] = "Add New User";
}

<partial name="_StatusMessage" for="StatusMessage" />

<h2>Add New User</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Send a registration token to a new user.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmEmail"></label>
                <input asp-for="Input.ConfirmEmail" class="form-control" />
                <span asp-validation-for="Input.ConfirmEmail" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Send</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
