@page
@using ParkingRota.Business.Model
@inject UserManager<ApplicationUser> UserManager
@model EditRequestsModel
@{
    ViewData["Title"] = "Edit Requests";
}

<partial name="_StatusMessage" for="StatusMessage" />

<h2>Edit Requests</h2>
<h4>Edit requests up to the end of next month:</h4>
<hr />

<vc:edit-requests user-id="@UserManager.GetUserId(this.User)"></vc:edit-requests>