@page
@model ParkingRota.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<h2>Welcome</h2>

<p>To use this site, you must first <a asp-area="Identity" asp-page="/Account/Login">Login</a>.</p>

<p>If you do not yet have a user account, please contact your manager for instructions how to create one.</p>

