@page
@model ParkingRota.Pages.OverrideRequestsModel
@{
    ViewData["Title"] = "Override Requests";
}

<partial name="_StatusMessage" for="StatusMessage" />

<h2>Override Requests</h2>

<p>
    @Html.DropDownListFor(m => m.SelectedUserId, Model.Users, "Select user")
</p>

@if (!string.IsNullOrEmpty(Model.SelectedUserId))
{
    <vc:edit-requests selected-user-id="@Model.SelectedUserId"></vc:edit-requests>
}

@section Scripts
    {
    <environment include="Development">
        <script src="~/js/SelectOverrideRequestsUser.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/SelectOverrideRequestsUser.min.js" asp-append-version="true"></script>
    </environment>
}