@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>By using this site you agree to the following:</p>

<h4>Cookies</h4>

<p>
    This site uses a (minimal) number of <a href="https://en.wikipedia.org/wiki/HTTP_cookie">cookies</a>,
    all required for the site to function correctly.
</p>
<p>
    These include cookies required:
    <br />(i) for the authentication functionality; and, somewhat ironically
    <br />(ii) to record that you're happy to accept these cookies.
</p>

<p>
    No other, non-essential <a href="https://en.wikipedia.org/wiki/Cookie_Monster">cookies</a>
    will be stored on your computer, nor is there any tracking functionality anywhere on the site.
</p>

<h4>Personal data</h4>

<p>
    The only personal data stored, besides that which was entered when first registering on the site
    (i.e. name, email address, and car registration number), is the approximate distance you live from the office.
    Note that this is a bare numerical value only; no information about your actual address is stored.
    Also which days you requested/were allocated a parking space at the office,
    if you consider that to be personal data.
</p>

<p>
    None of your data is visible to anonymous (i.e. non-signed-in) users.
    Your name and car registration number, and which days you requested/were allocated a parking space at the office,
    are visible to other registered users of the site once signed in.
    Other registered users could also potentially infer whether you live 'near' or 'far away' from the office,
    based on how frequently you are interrupted.
</p>

<p>
    None of your data whatsoever will ever be disclosed intentionally to any third party.
</p>