@page
@model RegisterSuccessModel
@{
    ViewData["Title"] = "Registration Successful";
}

<h2>@ViewData["Title"]</h2>
<h4>Email confirmation required</h4>
<hr />

<p>
    Your account has been created successfully but, in order to login, you must first confirm your email address.
    You should receive an email shortly with instructions how to do this.
</p>